<div class="page-container position-relative">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div>
      <div class="color-pallete-container d-flex justify-content-center">
        <div class="color-palletes d-flex align-items-center justify-content-center" id="color-palletes" #colorPalletes
          (click)="addColorEvent($event)">
          @for (item of displayColors; track $index) {
          <div class="palletes" [style.background-color]="item">
            <div class="copy-code">
              <fa-icon [icon]="faCopy" (click)="copyColorCode(item)"></fa-icon>
            </div>
          </div>
          }
        </div>
      </div>
      <div class="button-container">
        <div>
          <button class="btn btn-primary btn-sm me-2" (click)="downloadImage()"><fa-icon
              [icon]="faDownload"></fa-icon></button>



          <button class="btn btn-primary rounded-pill px-4" (click)="generateColor()">Generate &nbsp;<span><fa-icon
                [icon]="faShuffle"></fa-icon></span></button>

          <label for="chooseColor">
            <button class="btn btn-primary btn-sm mx-2 position-relative"><fa-icon [icon]="faPalette"></fa-icon>
              <input type="color" id="chooseColor"
                class="form-control form-control-color opacity-0 position-absolute top-0 left-0"
                [(ngModel)]="customColor" (change)="colorPaleteChange($event)">
            </button>
          </label>

          <!-- <button class="btn btn-primary btn-sm mx-2"><fa-icon [icon]="faHeart"></fa-icon></button>
          <button class="btn btn-primary btn-sm me-2"><fa-icon [icon]="faArrowUpFromBracket"></fa-icon></button> -->
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="copyToClipboardToast w-50 p-3 rounded" [ngClass]="isToastShow ? 'toastOnShow' : 'toastOnHide'">
      Copied color code Successfully
    </div>
  </div>

</div>

<div id="download" hidden>
  <img #canvas>
  <a #downloadLink></a>
</div>

<!-- <ng-container [ngTemplateOutlet]="duplplicating" [ngTemplateOutletContext]="{ repeatArray: repeatArray }"></ng-container>


<ng-template #duplplicating let-repeatArray = "repeatArray">
  <div>{{repeatArray}}</div>
</ng-template> -->
